{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="Main">
	{f:flashMessages() -> v:variable.set(name: 'flashMessages')}
	<f:if condition="{flashMessages}">
		<div class="alert alert-success">
			{flashMessages -> f:format.raw()}
		</div>
	</f:if>
	<f:form action="confirm" object="{gist}" method="post" name="gist" class="form-horizontal" additionalAttributes="{role: 'form'}">
		<div class="form-group form-group-lg {f:render(section: 'FormControlClass', arguments: {property: 'gist.url', gist: gist})}">
			<label class="control-label col-sm-2" for="gist-url">
				<v:l>flux.tx_fluidshare_domain_model_gist.fields.url</v:l>
			</label>
			<div class="col-sm-10">
				<f:form.textfield property="url" class="form-control" />
				<f:render section="FormControlGlyph" arguments="{property: 'gist.url', gist: gist}" />
			</div>
		</div>
		<f:render section="Message" arguments="{property: 'gist.url'}" />
		<div class="form-group form-group-lg {f:render(section: 'FormControlClass', arguments: {property: 'gist.title', gist: gist})}">
			<label class="control-label col-sm-2" for="gist-title">
				<v:l>flux.tx_fluidshare_domain_model_gist.fields.title</v:l>
			</label>
			<div class="col-sm-10">
				<f:form.textfield property="title" class="form-control" />
				<f:render section="FormControlGlyph" arguments="{property: 'gist.title', gist: gist}" />
			</div>
		</div>
		<f:render section="Message" arguments="{property: 'gist.title'}" />
		<div class="form-group form-group-lg {f:render(section: 'FormControlClass', arguments: {property: 'gist.summary', gist: gist})}">
			<label class="control-label col-sm-2" for="gist-summary">
				<v:l>flux.tx_fluidshare_domain_model_gist.fields.summary</v:l>
			</label>
			<div class="col-sm-10">
				<f:form.textarea property="summary" class="form-control" rows="4" />
				<f:render section="FormControlGlyph" arguments="{property: 'gist.summary', gist: gist}" />
			</div>
		</div>
		<f:render section="Message" arguments="{property: 'gist.summary'}" />
		<div class="form-group {f:render(section: 'FormControlClass', arguments: {property: 'gist.tags'})}">
			<label class="control-label col-sm-2" for="gist-tags">
				<v:l>flux.tx_fluidshare_domain_model_gist.fields.extensions</v:l>
			</label>
			<div class="col-sm-3">
				<f:for each="{extensions}" as="extension" iteration="iterator">
					<div class="checkbox">
						<label>
							<f:form.checkbox name="gist[extensions][]" value="{extension.uid}"
							                 checked="{v:condition.iterator.contains(haystack: submission.extensions, needle: extension.uid, then: 'checked')}" />
							{extension.extensionName}
						</label>
					</div>
				</f:for>
			</div>
			<label class="control-label col-sm-2" for="gist-tags">
				<v:l>flux.tx_fluidshare_domain_model_gist.fields.tags</v:l>
			</label>
			<div class="col-sm-4">
				<f:for each="{tags}" as="tag" iteration="iterator">
					<div class="checkbox">
						<label>
							<f:form.checkbox name="gist[tags][]" value="{tag.uid}"
							                 checked="{v:condition.iterator.contains(haystack: submission.tags, needle: tag.uid, then: 1)}" />
							{tag.name}
						</label>
					</div>
				</f:for>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button type="submit" class="btn btn-primary btn-large">
					<v:l>button.submit</v:l>
				</button>
			</div>
		</div>
	</f:form>
</f:section>

<f:section name="FormControlGlyph">
	<f:form.validationResults for="{property}">
		<f:if condition="{validationResults.errors}">
			<f:then>
				<span class="glyphicon glyphicon-remove form-control-feedback"></span>
			</f:then>
			<f:else>
				<f:if condition="{gist}">
					<span class="glyphicon glyphicon-ok form-control-feedback"></span>
				</f:if>
			</f:else>
		</f:if>
	</f:form.validationResults>
</f:section>

<f:section name="FormControlClass"><f:form.validationResults for="{property}"><f:if condition="{validationResults.errors}" then="has-feedback has-error text-danger" else="{f:if(condition: gist, then: 'has-feedback has-success text-success')}" /></f:form.validationResults></f:section>

<f:section name="Message">
	<f:form.validationResults for="{property}">
		<f:if condition="{validationResults.errors}">
			<div class="col-sm-10 col-sm-offset-2 form-control-feedback {f:render(section: 'FormControlClass', arguments: {property: property, gist: gist})}">
				<p>
					{property -> v:iterator.explode(glue: '.') -> v:iterator.last() -> v:variable.set(name: 'propertyName')}
					<f:for each="{validationResults.errors}" as="error" iteration="iterator">
						{v:l(key: 'flux.tx_fluidshare_domain_model_gist.fields.{propertyName}.errors.{error.code}', htmlEscape: 0)
						-> v:or(alternative: '{v:l(key: \'errors.{error.code}\', htmlEscape: 0)}')}
					</f:for>
				</p>
			</div>
		</f:if>
	</f:form.validationResults>
</f:section>
