TYPO3_CONTEXT="Development"
TYPO3_DB_DRIVER="mysqli"
TYPO3_DB_HOST="db"
TYPO3_DB_NAME="db"
TYPO3_DB_USER="db"
TYPO3_DB_PASSWORD="db"
TYPO3_SOLR_HOST="solr"
# The default install tool password is "password"
TYPO3_INSTALL_TOOL_PASSWORD="$argon2i$v=19$m=65536,t=16,p=1$ZktZcHl5enBlSklrdXRTYQ$Nb8p0MrPqNuZ1gm2Iba5Go5Dk8V2xQzx/pR9fStu1Gs"
TYPO3_SYS_ENCRYPTION_KEY="fnhfs1p8v1sji6rpymq1q7dewwo1b638evsqh80xvtuw9nlty0fjj03s57zyr46ptg2ycmb90q2syckvicu6b0i9pktmu2i3"
TYPO3_DEFAULT_MAIL_FROM_EMAIL_ADDRESS="noreply@fluidtypo3-site.ddev.site"
TYPO3_DEFAULT_MAIL_FROM_EMAIL_NAME="FluidTYPO3"
TYPO3_MAIL_TRANSPORT_SENDMAIL_COMMAND="/usr/local/bin/mailpit sendmail -t --smtp-addr 127.0.0.1:1025"
